<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="LoginController as loginCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="coup-titles">Forgott Password</h3>
            </div>
            <div class="modal-body">
                <div class="body-content">

                        <form class="coup-forms" ng-submit="loginCtrl.service.forgottenPasswordSubmit()" novalidate>
                            <div class="form-group">

                                <input type="email" class="form-control" placeholder="Email" ng-model="loginCtrl.service.forgottenPasswordModel.Email" />

                            </div>
                       

                         

                            <button type="submit" class="btn btn-success btn-raised ripple-effect coup-button-width">Submit</button>
                            <button type="button" class="btn close-button btn-raised ripple-effect" ng-click="$hide()">Close</button>
                        </form>
                    

                </div>
            </div>
        </div>
    </div>
</div>