<div id="inner-page">
    <div class="container ">
        <div class="row col-lg-12">

            <div class="row">
                <div class="col-sm-12 clearfix">
                    <div class="hr-link">
                        <hr class="mBtm-50 mTop-30" data-symbol="OUR TEAM">
                    </div>
                </div>
            </div>

            <div class="row col-lg-12">
                <div class="col-lg-3 col-md-3 col-sm-6 coup-aboutUs-info">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="/Images/elda.jpg" alt="Alternate Text" class="img-responsive" />
                            </div>
                        </div>

                    <div class="coup-effect-container coup-background">
                        <h5>Soljic Eldin</h5>
                        <p class="coup-p">30 years old.</>
                        <p class="coup-separator"></p>
                    </div>
                </div>


                <div class="col-lg-3 col-md-3 col-sm-6 coup-aboutUs-info">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="/Images/neda4.jpg" alt="Alternate Text" class="img-responsive" />
                            </div>
                    </div>

                    <div class="coup-effect-container coup-background">
                        <h5>Hadzialic Nedim</h5>
                        <p class="coup-p">24 years old.</p>
                        <p class="coup-separator"></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 coup-aboutUs-info">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="/Images/fera.jpg" alt="Alternate Text" class="img-responsive" />
                            </div>
                        </div>

                    <div class="coup-effect-container coup-background">
                        <h5>Catovic Ferid</h5>
                        <p class="coup-p">20 years old.</>
                        <p class="coup-separator"></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 coup-aboutUs-info">
                        <div class="zoom-effect-container">
                            <div class="image-card">
                                <img src="/Images/melisa4.jpg" alt="Alternate Text" class="img-responsive" />
                            </div>
                        </div>

                    <div class="coup-effect-container coup-background">
                        <h5>Ibric Melisa</h5>
                        <p class="coup-p">18 years old.</>
                        <p class="coup-separator"></p>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>