<!--<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="DetailsController as details">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="color:white; text-align:center;">QUESTION</h3>
            </div>
            <div class="modal-body">
                <div class="container body-content">
                    <div class="col-md-6 all-coupons">

                        <div ng-show="details.accountService.user.Role=='Buyer'" class="commentsDiv">
                            <form ng-submit="details.service.createQuestion(details.service.selectedCoupon.CouponId)" novalidate>
                                <div class="form-group">
                                    <div class="row">
                                        <textarea placeholder="Ask question" class="coup-textarea-comment" ng-required="true" ng-maxlength="200" ng-model="details.service.question.QuestionContent">  </textarea>
                                    </div>
                                    <div style="text-align:center">
                                        <input type="submit" class="coup-basic-button" value="Post" />
                                        <input type="button" class="close-button" value="Cancel" ng-click="$hide()" />
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
