

@{
    Layout = null;   
}




   
     <div>
        <div style="text-align: center">
            <img style="max-width: 50%;" src="http://res.cloudinary.com/dvnnqotru/image/upload/v1443059874/dqslywxhvhbeocc6gqwv.jpg" alt="Alternate Text" />
            <h3 style="word-wrap:break-word">%text1%</h3>
        </div>
    </div>
    
    <div style="padding-top:50px">
        <div style="float: left">
            <img style="padding-left: 100px; max-width: 600px;" src="http://res.cloudinary.com/dvnnqotru/image/upload/v1443059874/dqslywxhvhbeocc6gqwv.jpg" alt="Alternate Text" />
            <h3 style="padding-left: 100px;word-wrap:break-word" >%text2%</h3>
         </div>
        <div style="float:right">
            <img style=" max-width: 600px;padding-right: 100px;" src="http://res.cloudinary.com/dvnnqotru/image/upload/v1443059874/dqslywxhvhbeocc6gqwv.jpg" alt="Alternate Text" />
            <h3 style="word-wrap:break-word">%text3%</h3>
         </div>
    </div>

   <div style="padding-top:50px">
    <div style="float: left; max-width: 300px;" >
        <img style="padding-left: 100px; max-width: 300px;" src="http://res.cloudinary.com/dvnnqotru/image/upload/v1443059874/dqslywxhvhbeocc6gqwv.jpg" alt="Alternate Text" />
        <h3 style="padding-left: 100px; word-wrap:break-word">%text4%</h3>
    </div>
    <div style="float:right;max-width: 300px;        padding-left: 50px;padding-right: 100px;">
        <img style=" max-width: 300px ;" src="http://res.cloudinary.com/dvnnqotru/image/upload/v1443059874/dqslywxhvhbeocc6gqwv.jpg" alt="Alternate Text" />
        <h3 style="word-wrap:break-word">%text5%</h3>
    </div>
       <div style="float: left;max-width: 300px; padding-left: 140px;    ">
           <img style=" max-width: 300px;    padding-left: 15px;" src="http://res.cloudinary.com/dvnnqotru/image/upload/v1443059874/dqslywxhvhbeocc6gqwv.jpg" alt="Alternate Text" />
           <h3 style="word-wrap:break-word;padding-left: 15px;">%text6%</h3>
       </div>
       <div style="float:right;max-width: 300px;">
           <img style=" max-width: 300px" src="http://res.cloudinary.com/dvnnqotru/image/upload/v1443059874/dqslywxhvhbeocc6gqwv.jpg" alt="Alternate Text" />
           <h3 style="word-wrap:break-word">%text7%</h3>
       </div>
</div>
@*<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <img src="%pic1%" alt="Alternate Text" />
            <h3 style="word-wrap:break-word">%text1%</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4 ">
            <img src="%pic2%" alt="Alternate Text" />
            <h3 style="word-wrap:break-word">%text2%</h3>
        </div>
        <div class="col-md-4">
            <img src="%pic3%" alt="Alternate Text" />
            <h3 style="word-wrap:break-word">%text3%</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3 ">
            <img src="%pic4%" alt="Alternate Text" />
            <h3 style="word-wrap:break-word">%text4%</h3>
        </div>
        <div class="col-md-3">
            <img src="%pic5%" alt="Alternate Text" />
            <h3 style="word-wrap:break-word">%text5%</h3>
        </div>
        <div class="col-md-3 ">
            <img src="%pic6%" alt="Alternate Text" />
            <h3 style="word-wrap:break-word">%text6%</h3>
        </div>
        <div class="col-md-3">
            <img src="%pic7%" alt="Alternate Text" />
            <h3 style="word-wrap:break-word">%text7%</h3>
        </div>
    </div>



</div>*@



   
       




 @*<div>
            <img style=" max-width: 400px;" src="http://res.cloudinary.com/dvnnqotru/image/upload/v1442747275/ytowv7tbla07zokhnpq8.jpg" alt="Alternate Text" />
        </div>
<div>
    <img style=" max-width: 400px;     padding-top: 50px;    padding-left: 200px;" src="http://res.cloudinary.com/dvnnqotru/image/upload/v1442747275/ytowv7tbla07zokhnpq8.jpg" alt="Alternate Text" />
</div>
    <div>
        <img id="image" style=" max-width: 400px; float:right; padding-top: 50px; " src="http://res.cloudinary.com/dvnnqotru/image/upload/v1442747275/ytowv7tbla07zokhnpq8.jpg" alt="Alternate Text" />
        </div>
      </div>*@
   
 
       


